In [1]:
##What is the most popular release year for movies on Netflix?
## Qual é o ano de lançamento mais popular para filmes no Netflix? 
##r: 2018/2017

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('netflix_titles.csv')

In [4]:
movie_df = df[df['type'] == 'Movie']

In [5]:
movie_df['count'] = 1
release_years_summed = movie_df.groupby(['release_year']).sum().reset_index()[['release_year','count']]

C:\Users\maria\AppData\Local\Temp\ipykernel_19548\4128477200.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['count'] = 1

In [6]:
release_years_summed.sort_values(['count'],ascending=False)

    release_year  count
69          2018    767
68          2017    767
67          2016    658
70          2019    633
71          2020    517
..           ...    ...
12          1961      1
14          1963      1
17          1966      1
5           1947      1
4           1946      1

[73 rows x 2 columns]

In [7]:
## What year did Netflix add the most content to its platform?
## Em que ano a netflix adicionou mais conteúdo em sua plataforma?
## r:2019

In [8]:
df['new_date'] = pd.to_datetime(df['date_added'], format='mixed', errors='coerce')

df['date_added_year'] = df['new_date'].dt.year

df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_date,date_added_year
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021-09-25,2021.0
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021-09-24,2021.0

In [9]:
df['count'] = 1
## converter a coluna 'date_added_year' para numérica antes de realizar a operação de soma
df['date_added_year'] = pd.to_numeric(df['date_added_year'], errors='coerce')

date_added_years_summed = df.groupby(['date_added_year'])['count'].sum().reset_index()

In [10]:
date_added_years_summed.sort_values(['count'],ascending=False)

    date_added_year  count
11           2019.0   2016
12           2020.0   1879
10           2018.0   1649
13           2021.0   1498
9            2017.0   1188
8            2016.0    429
7            2015.0     82
6            2014.0     24
3            2011.0     13
5            2013.0     11
4            2012.0      3
0            2008.0      2
1            2009.0      2
2            2010.0      1

In [61]:
##what is the most popular month to add new content?independent of year 
## Qual é o mês mais popular para adicionar novo conteúdo?
##r:july/julho

In [11]:
df['date_added_month'] = df['new_date'].dt.month
date_added_months_summed = df.groupby(['date_added_month'])['count'].sum().reset_index()
date_added_months_summed.sort_values(['count'], ascending=False)

    date_added_month  count
6                7.0    827
11              12.0    813
8                9.0    770
3                4.0    764
9               10.0    760
7                8.0    755
2                3.0    742
0                1.0    738
5                6.0    728
10              11.0    705
4                5.0    632
1                2.0    563

In [12]:
##what is the movie with the longest title in the dataset?
## qual é o filme com o título mais longo da dataset?
## Jim & Andy: The Great Beyond - Featuring a Very Special, Contractually Obligated Mention of Tony Clifton'

In [13]:
df.head()
movie_df = df[df['type'] == 'Movie']

In [14]:
movie_df['title_length'] = [len(title) for title in movie_df['title']]

C:\Users\maria\AppData\Local\Temp\ipykernel_19548\625075229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df['title_length'] = [len(title) for title in movie_df['title']]

In [17]:
top_title_lengths = movie_df.sort_values(['title_length'], ascending=False)
top_title_lengths.iloc[0]['title']

'Jim & Andy: The Great Beyond - Featuring a Very Special, Contractually Obligated Mention of Tony Clifton'

In [ ]:
##which actor/actress shows up most frequently in the netflix database?
## que ator/atriz aparece com mais frequência na base de dados da netflix?

In [18]:
pd.options.display.max_colwidth =150

In [19]:
title_and_cast_df = df[['title', 'cast']]
title_and_cast_df = title_and_cast_df.dropna()

In [22]:
cast_names_counter = {}

for index, row in title_and_cast_df.iterrows():
    movie_cast = row['cast']
    movie_cast_split = movie_cast.split(',')
    movie_cast_stripped = [name.strip().lower() for name in movie_cast_split]
    for name in movie_cast_stripped:
        cast_names_counter[name] =cast_names_counter.get(name, 0) + 1
    
dict(sorted(cast_names_counter.items(), key= lambda))

['Ama Qamata', ' Khosi Ngema', ' Gail Mabalane', ' Thabang Molaba', ' Dillon Windvogel', ' Natasha Thahane', ' Arno Greeff', ' Xolile Tshabalala', ' Getmore Sithole', ' Cindy Mahlangu', ' Ryle De Morny', ' Greteli Fincham', ' Sello Maake Ka-Ncube', ' Odwa Gwanya', ' Mekaila Mathys', ' Sandi Schultz', ' Duane Williams', ' Shamilla Miller', ' Patrick Mofokeng']

['Sami Bouajila', ' Tracy Gotoas', ' Samuel Jouy', ' Nabiha Akkari', ' Sofia Lesaffre', ' Salim Kechiouche', ' Noureddine Farihi', ' Geert Van Rampelberg', ' Bakary Diombera']

['Mayur More', ' Jitendra Kumar', ' Ranjan Raj', ' Alam Khan', ' Ahsaas Channa', ' Revathi Pillai', ' Urvi Singh', ' Arun Kumar']

['Kate Siegel', ' Zach Gilford', ' Hamish Linklater', ' Henry Thomas', ' Kristin Lehman', ' Samantha Sloyan', ' Igby Rigney', ' Rahul Kohli', ' Annarah Cymone', ' Annabeth Gish', ' Alex Essoe', ' Rahul Abburi', ' Matt Biedel', ' Michael Trucco', ' Crystal Balint', ' Louis Oliver']